/* background color */
body {
    background-color: black;
    color: cornsilk;
}


h1 {
    font-family: 'Times New Roman', Georgia, Times, serif;
    text-align: center;
}

h2,
li {
    font-family: 'Times New Roman', Times, serif;
}
